<launch>
  <arg name="output_pcd" default="/tmp/accumulated_cloud.pcd" />
  <arg name="metadata_dir" default="" />
  <arg name="target_frame" default="map" />
  <arg name="robot_frame" default="base_link" />

  <arg name="gps_tcp_enable" default="true" />
  <arg name="gps_tcp_bind" default="0.0.0.0" />
  <arg name="gps_tcp_port" default="29500" />
  <arg name="gps_allowed_hosts" default="100.93.178.118,127.0.0.1,::1" />
  <arg name="gps_required" default="false" />

  <arg name="doback_enable" default="false" />
  <arg name="doback_required" default="false" />
  <arg name="doback_port" default="auto" />
  <arg name="doback_baud" default="115200" />
  <arg name="doback_test_file" default="" />
  <arg name="join_slop_sec" default="2.0" />

  <arg name="trajectory_enable" default="true" />
  <arg name="trajectory_publish_rate" default="2.0" />
  <arg name="trajectory_min_distance" default="0.05" />
  <arg name="trajectory_max_points" default="10000" />
  <arg name="trajectory_path_topic" default="/agv_trajectory_path" />
  <arg name="trajectory_marker_topic" default="/agv_trajectory_marker" />

  <node pkg="scout_pointcloud_accumulator" type="mapping_metadata_logger.py"
        name="mapping_metadata_logger" output="screen">
    <param name="output_pcd" value="$(arg output_pcd)" />
    <param name="metadata_dir" value="$(arg metadata_dir)" />
    <param name="target_frame" value="$(arg target_frame)" />
    <param name="robot_frame" value="$(arg robot_frame)" />
    <param name="gps_tcp_enable" value="$(arg gps_tcp_enable)" />
    <param name="gps_tcp_bind" value="$(arg gps_tcp_bind)" />
    <param name="gps_tcp_port" value="$(arg gps_tcp_port)" />
    <param name="gps_allowed_hosts" value="$(arg gps_allowed_hosts)" />
    <param name="gps_required" value="$(arg gps_required)" />
    <param name="doback_enable" value="$(arg doback_enable)" />
    <param name="doback_required" value="$(arg doback_required)" />
    <param name="doback_port" value="$(arg doback_port)" />
    <param name="doback_baud" value="$(arg doback_baud)" />
    <param name="doback_test_file" value="$(arg doback_test_file)" />
    <param name="join_slop_sec" value="$(arg join_slop_sec)" />
    <param name="trajectory_enable" value="$(arg trajectory_enable)" />
    <param name="trajectory_publish_rate" value="$(arg trajectory_publish_rate)" />
    <param name="trajectory_min_distance" value="$(arg trajectory_min_distance)" />
    <param name="trajectory_max_points" value="$(arg trajectory_max_points)" />
    <param name="trajectory_path_topic" value="$(arg trajectory_path_topic)" />
    <param name="trajectory_marker_topic" value="$(arg trajectory_marker_topic)" />
  </node>
</launch>
